<%- include("../partials/editheader"); -%>
<h2 class="heading-section">Table <%= tablename %> </h2>
</div>
</div>
<div class="row">
<div class="col-md-12">
    
<div class="table-wrap">
<table class="table table-striped">
<thead>
    <tr>
        <th>ACT_ID</th>
        <th>ACT_NAME</th>
        <th>ACT_GENDER</th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody>

    
    <%  posts.forEach(function(post){ %>
    <%  post.forEach(function(pos){ %>
        <form action="/<%= tablename %>/ACT_ID/<%= pos?.ACT_ID%>/save/getdetails" method="post">

        <tr>
    
            <td><input  class="form-control" type="text" name="ACT_ID" autocomplete="off" value="<%= pos?.ACT_ID%>"></td>
            <td><input  class="form-control" type="text" name="ACT_NAME" autocomplete="off" value="<%= pos?.ACT_NAME%>"></td>
            <td><input  class="form-control" type="text" name="ACT_GENDER" autocomplete="off" value="<%= pos?.ACT_GENDER%>"></td>
            <td><button type="submit"class="btn btn-light">Submit</button></td>
            
        </tr>
    </form>
  <%  })  %>
 <% }) %>
<%- include("../partials/editfooter"); -%>