<%- include("../partials/tableheader"); -%>
<h2 class="heading-section">Table <%= tablename %> </h2>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-wrap">
<table class="table table-striped">
<thead>
    <tr>
        <th>player_id</th>
        <th>team_id</th>
        <th>no_of_matches</th>
        <th>no_of_t20</th>
        <th>no_of_odi</th>
        <th>no_of_test</th>
        <th>no_of_wickets </th>
        <th>type_of_bowler</th>
        <th>economy</th>

    </tr>
</thead>
<tbody>
    
    <%  posts.forEach(function(post){ %>
    <%  post.forEach(function(pos){ %>

        <tr>
    
            <td><%= pos?.player_id%></td>
            <td><%= pos?.team_id%></td>
            <td><%= pos?.no_of_matches%></td>
            <td><%= pos?.no_of_t20%></td>
            <td><%= pos?.no_of_odi%></td>
            <td><%= pos?.no_of_test%></td>
            <td><%= pos?.no_of_wickets %></td>
            <td><%= pos?.type_of_bowler%></td>
            <td><%= pos?.economy%></td>         

        </tr>
  <%  })  %>
 <% }) %>

 
<%- include("../partials/tablefooter"); -%>

<!-- match_id varchar(30) PK 
match_date date 
match_time time 
team_1_name varchar(30) 
team_2_name varchar(30) 
loser varchar(30) 
winner varchar(30) 
stadium varchar(30) 
umpire_id -->


