<%- include("../partials/tableheader"); -%>
<h2 class="heading-section">Table <%= tablename %> </h2>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-wrap">
<table class="table table-striped">
<thead>
    <tr>
        <th>team_id</th>
        <th>team_rank</th>
        <th>team_name</th>
        <th>country_name</th>
        <th>no_of_wins</th>
        <th>no_of_loses</th>
        <th>no_of_draws</th>
        <th>no_of_bowlers</th>
        <th>no_of_batsmans</th>
    </tr>
</thead>
<tbody>
    
    <%  posts.forEach(function(post){ %>
    <%  post.forEach(function(pos){ %>

        <tr>
            <td><%= pos?.team_id%></td>
            <td><%= pos?.team_rank%></td>
            <td><%= pos?.team_name%></td>
            <td><%= pos?.country_name%></td>
            <td><%= pos?.no_of_wins%></td>
            <td><%= pos?.no_of_loses%></td>
            <td><%= pos?.no_of_draws%></td>
            <td><%= pos?.no_of_bowlers%></td>
            <td><%= pos?.no_of_batsmans%></td>
        </tr>
  <%  }) %>
 <% }) %>
<%- include("../partials/tablefooter"); -%>

<!-- team_id varchar(30) PK 
team_rank decimal(3,0) 
team_name varchar(20) 
country_name varchar(20) 
no_of_wins decimal(3,0) 
no_of_loses decimal(3,0) 
no_of_draws decimal(3,0) 
no_of_bowlers decimal(2,0) 
no_of_batsman -->