<%- include("../partials/header"); -%>
<h2 class="heading-section">Table <%= tablename %> </h2>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="table-wrap">
<table class="table table-striped">
<thead>
    <tr>
        <th>match_id</th>
        <th>umpire_id</th>
        <th>action</th>
    </tr>
</thead>
<tbody>
    
    <%  posts.forEach(function(post){ %>
    <%  post.forEach(function(pos){%>

        <tr>
            <td><%= pos?.match_id%></td>
            <td><%= pos?.umpire_id%></td>
            <td><a href="delete/<%=tablename%>/match_id/<%= pos?.match_id %>" class="btn btn-danger">Delete</a></td>
        </tr>
  <%  })  %>
 <% }) %>
 <form action="/<%=tablename%>/getdetails" method="post">
     
    <tr>
        <td> <input  class="form-control" type="text" name="match_id" autocomplete="off"></td>
        <td> <input  class="form-control" type="text" name="umpire_id" autocomplete="off"></td>
        <td><button type="submit"class="btn btn-light">Add data</button></td>
    </tr>
<%- include("../partials/footer"); -%>

<!-- match_id varchar(30) 
umpire_id -->